<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ürünler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <ion-card *ngFor="let product of products">
    <ion-img class="ion-no-padding"
      src="{{product.imageUrl}}"   style="width:200px;height:200px;"></ion-img>
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>
    {{product.price | currency:'TRY':'symbol-narrow':'1.2-2'}}
      </ion-card-subtitle>
      <ion-card-title>
      {{product.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="ion-text-center">
      <ion-button size="medium" (click)="addQuantity(product)">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-label [innerText]="quantity" id="name-{{product.id}}"></ion-label>
      <ion-button size="medium" (click)="outQuantity(product)">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      </ion-item >
      <ion-button expand="block" color="success">
        <ion-icon name="bag-add-outline"></ion-icon>
        Sepete Ekle</ion-button>
        <ion-item class="ion-text-center">
        <ion-label>
          <p>Kalan Adet:{{product.inventoryQuantity}}</p>
        </ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>