<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="/tab">
      <ion-icon name="home-outline">
      </ion-icon>
      <ion-label>
      Ürünler
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="/tab/basket">
      <ion-icon name="cart-outline">
      </ion-icon>
      <ion-label>
     Sepet
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="/tab/order">
      <ion-icon name="bag-remove-outline">
      </ion-icon>
      <ion-label>
        Siparişler
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
 </ion-tabs>
</ion-content>
